<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" type="text/css" href="register.css">

    <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
    <script src="../jquery/jquery-3.3.1.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
</head>

<body>
    <!--Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
                aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                <a class="navbar-brand" href="#">LookAtMe</a>
                <form class="form-inline my-2 m-auto my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Subir video<span class="sr-only"></span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Cuenta
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Iniciar sesión</a>
                            <a class="dropdown-item" href="#">Registrarse</a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
    <!--Navbar Fin-->

    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="main-div">
                    <div class="panel">
                        <h2>Registro</h2>
                        <p>Ingrese sus datos</p>
                    </div>
                    <form id="register" action="">
                        <div class="form-group">
                            <input type="text" name="name" id="name" class="form-control" placeholder="Nombre" required>
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="email" class="form-control" placeholder="Correo electronico"
                                required>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="controlSelect">
                                <option value="Tipo de Usuario">Tipo de usuario</option>
                                <option value="Usuario">Usuario</option>
                                <option value="Administrativo">Administrativo</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input type="password" name="psw" id="psw" class="form-control" placeholder="Contraseña"
                                required>
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm" id="confirm" class="form-control" placeholder="Confirmar contraseña"
                                required>
                        </div>
                        <button type="submit" id="btn-register" class="btn btn-primary btn-block btn-md">Crear cuenta</button>
                        <div class="acount">
                            <a href="#">¿Ya tienes cuenta?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>