ul a{
  color: black;
}
.input_container {
 height: 30px;
 float: left;
}
.input_container input {
}
.input_container ul {
 width: 206px;
 border: 1px solid #eaeaea;
 position: absolute;
 z-index: 9;
 background: #f3f3f3;
 list-style: none;
 padding-left: 15px;
}
.input_container ul li {
 padding: 2px;
}
.input_container ul li:hover {
 background: #eaeaea;
}
#country_list_id {
 display: none;
}