body{
		background: #e0e0e0 !important;
	}

.main-div{
	background: #fff;
	position: relative;
	top: 10px;
	opacity: 1; 
	border-radius: 0.3rem;
	margin: auto;
	margin-bottom: 3px;
	height: auto;
}

.main-div .header-content{
	padding: 2px;
}

.main-div .body-content{
	margin-top: 2px; 
	
}

.main-div .body-content .list-video{
	display: flex; 
	flex-wrap: wrap; 
	flex-direction: row;
	justify-content: center;
}

.main-div .body-content .list-video .grid-video{
	background: lightgray;
	position: relative;
	margin-right: 5px;
	margin-bottom: 24px;
	display: inline-block;
	height: 205px;
	width: 210px;
	flex-direction: column;
}

.main-div .body-content .list-video .grid-video .image{
	height: 118px !important;
	
}

.main-div .body-content .list-video .grid-video .information {
	background: lightgray;
	position: absolute;
	cursor: pointer;
	display: flex;
	height: 84px;
	width: 210px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	align-items: center;
}

.main-div .body-content .list-video .grid-video .information .name{
	font-size: 16px;
	margin-left: 8px !important;
	margin: 0;
}

.main-div .body-content .list-video .grid-video .information .view-more{
	position: absolute;
	right: 5px;
	display: block;
	text-decoration: none;
	color: #888;
	font-size: 14px;
	padding: 6px 12px;
	border-radius: 90px;
	border: 2px solid #888;
	width: auto;
	line-height: 12px;
}





/* Style Modal Login */
.modal-header{
	padding: 35px 50px;
	text-align: center;
	background-color: lightgray;
}

.modal-header h2{
	color:#444444; 
}

.modal-body p{
	text-align: center;
}

.form-control {
    background: #f7f7f7 none repeat scroll 0 0;
}

.forgot a {
    color: #777777;
    font-size: 14px;
	text-decoration: underline;
	margin-bottom: 10px;
}

.forgot{
	margin-bottom: 10px;
}

.register a{
	color: #777777;
	font-size: 14px;
	margin-top: 10px !important;
	text-align: center;
}

.register{
	text-align: center;
	margin-top: 10px;
}
/* Fin Style Modal */